        h1,h2{
           text-align: center; 
        }

        html,body{
            height:100%;
            margin:0;
            padding:0;	
        }
        .overlay {
            opacity:0;
            position:fixed;
            top:-999em;
            left:-999em;
            width:100%;
            height:100%;
            display:table;
            background:rgba(0,0,0,0.8);
          animation: splash 10s forwards;
        }
        .overlay-inner {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }
        .message {
            transform: translateY(-50%);
            box-shadow: 30px 30px 33px 13px rgba(0,0,0,0.55);
            background-color: #565656;
            color: white;
            display:inline-block;
            vertical-align:middle;
            width:50%;
            text-align:left;
            padding:10px;
        }
        @-webkit-keyframes splash {
          0%  {opacity: 0;top:0;left:0;-webkit-transform:rotate(0) scale(0.2)}
            20% {opacity:1;-webkit-transform:rotate(0) scale(1.0)}
            60% {opacity:1;}
            99% {top:0;left:0;}
            100%{opacity:0;top:-999em;left:-999em;-webkit-transform:rotate(0) scale(1.0)}
        }
        .overlay-wrap {
            position:fixed;
            top:0;
            left:0;
            right:0;
            z-index:99;
        }
        .overlay-wrap .hide {
            position:absolute;
            top:-999em;
            right:10px;
            opacity:0;
            color:#fff;
            border:5px solid #fff;
            padding:10px;
            font-size:200%;
            z-index:2;
            cursor:pointer;
            animation:10s fadein 2s forwards;	
        }
        #hide {
            position:absolute;
            left:-999em;
            top:-999em;
        }
        .overlay2{
            position:absolute;
            opacity:1;
            transition:all 2s ;
        }
        #hide:checked ~ div,#hide:checked ~ div *, #hide:checked + label {
         opacity:0;
         left:-999em;
         right:auto;
         top:-999em;
         pointer-events:none;
        }
        @-webkit-keyframes fadein {
         0% {opacity: 0;top:10px;}
         20% {opacity:1;top:10px;}
          80%{opacity:1;top:10px}
          100%{opacity:0;top:-999em}
        }
        @-moz-keyframes fadein {
         0% {opacity: 0;top:10px;}
         20% {opacity:1;top:10px;}
          80%{opacity:1;top:10px}
         100%{opacity:0;top:-999em
        }
        @-ms-keyframes fadein {
         0% {opacity: 0;top:10px;}
         20% {opacity:1;top:10px;}
         80%{opacity:1;top:10px}
         100%{opacity:0;top:-999em
        }
        @keyframes fadein {
         0% {opacity: 0;top:10px;}
         20% {opacity:1;top:10px;}
         80%{opacity:1;top:10px}
         100%{opacity:0;top:-999em}
        }
            
        
h1 {
  color: white;
  font-size: 64px;
  text-align: center;
  line-height: 200px;
}

header {
  width: 100%;
  height: 200px;
  background-color: #556270;
  background-size: cover;
    box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
}

.container {
  max-width: 90%;
  margin: 50px auto;
}

.sidebar {
  display: inline-block;
  width: 25%;
  border-radius: 3px;
  overflow: hidden;
    box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
}

.sidebar i {
  margin-right: 15px;
}

.sidebar__header {
  vertical-align: top;
  background: #dfe5eb;
  padding: 20px;
}
.sidebar__header img.sidebar__avatar {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar__header p {
  line-height: 2em;
  margin: 0;
}

.sidebar__menu-item {
  background: #FFF;
  padding: 20px;
  color: #999;
  border-bottom: 1px solid #dfe5eb;
  transition: all 0.3s ease;
}
.sidebar__menu-item--active {
  color: #000;
  border-left: 3px solid #6F95C6;
}
.sidebar__menu-item:hover {
  background: #dfe5eb;
  cursor: pointer;
}

.sidebar__label {
  float: right;
  font-size: 80%;
  line-height: 1.6em;
  color: #FDE756;
}

.sidebar__badge {
  text-align: center;
  float: right;
  font-size: 70%;
  line-height: 1.8em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #FFF;
  background: #6F95C6;
}

.main {
  width: 70%;
  vertical-align: top;
  display: inline-block;
  background: #dfe5eb;
  margin-left: 3%;
  border-radius: 3px;
  overflow: hidden;
    box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
}

.main__header {
  padding: 20px;
  border-bottom: 1px solid #dfe5eb;
}

.main__content {
  padding: 20px;
}

.main__avatar {
  background: url("https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  display: block;
  vertical-align: middle;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
}

.main__avatar:hover .main__avatar--overlay {
  opacity: 1;
  border-radius: 50%;
}

.main__avatar--overlay {
  opacity: 0;
  background: rgba(111, 149, 198, 0.75);
  color: #FFF;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main__settings-form {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.main__input-label {
  font-size: 80%;
  color: #C4C1C9;
  display: block;
  margin: 5px 5px 5px 5px;
}

.main__input {
  display: inline-block;
  width: 100%;
  border: 1px solid #F1F3F5;
  margin-bottom: 20px;
  outline: none;
  padding: 15px;
  border-radius: 3px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.main__input:focus {
  border: 1px solid #348AA7;
  transition: all 0.3s ease;
}

.btn {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.main__save-button {
  color: #FFF;
  background-color: #6F95C6;
}
.main__save-button:hover {
  background-color: #4E6F9A;
  cursor: pointer;
}

.main__cancel-button {
  color: #FFF;
  background: #CCC;
}
.main__cancel-button:hover {
  background-color: #b3b3b3;
  cursor: pointer;
}

footer {
  background: #464C4F;
  padding: 40px;
  color: #CCC;
  font-size: 90%;
}

@media (max-width: 764px) {
  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .sidebar__menu-item {
    padding: 15px;
  }

  .main {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 44px;
  }

  footer {
    text-align: center;
  }
}
